<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <!-- <h1 class="page-title">Brandon Cunningham</h1> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h1 class="mb-1">Details</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="card mt-3">
              <div class="m-b-20">
                <div class="contact-grid">
                  <div class="profile-header bg-dark">
                    <div class="user-name">Brandon Cunningham</div>
                    <div class="name-center">Software Developer</div>
                  </div>
                  <img src="assets/images/images/me.jpg" class="user-img" alt="Avatar" style="border-radius:50%">
                  <p>
                    Rochester, New York
                  </p>

                  <p>(585) 489-6823</p>
                  <p>job@brandoncunningham.dev</p>

                  <button mat-raised-button color="primary" class="mb-2">Download Resume (PDF)</button>

                  <div>
                  </div>
                </div>



              </div>
            </div>

          </div>

          <div class="col-8">
            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h3 class="text-center">About me</h3>
                    <p class="text-center">I am a Software Developer that can work on both the front and back end. I started coding back when I was in my early teens being inspired by Minecraft, now I find myself creating full stack applications for both personal business use and public enterprise SaaS applications to help others run their business.</p>
                  </div>

                  <div class="col-6">
                    <h3 class="text-center">Skills</h3>

                    <div class="row">
                      <div class="col-6">
                        <ul class="text-center">
                          <li><p>HTML, CSS</p></li>
                          <li><p>Javascript/Typescript</p></li>
                          <li><p>Java 8</p></li>
                          <li><p>Spring boot</p></li>
                          <li><p>Angular 7+</p></li>
                          <li><p>MongoDB</p></li>
                          <li><p>Linux/Ubuntu</p></li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="text-center">
                          <li><p>Eclipse/Atom</p></li>
                          <li><p>MongoDB Atlas</p></li>
                          <li><p>Digital Ocean</p></li>
                          <li><p>Git, Github, Gitlab</p></li>
                          <li><p>REST API</p></li>
                          <li><p>API Integrations</p></li>
                          <li><p>Project Management</p></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>




      </div>

      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <h1 class="mb-1">My work</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">

            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h3 class="text-center">BP Processing</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                    <div class="course-card-top-overflow text-center">
                      <img src="assets/images/banner/course1.png">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                    <p class="text-center mt-3">BP Processing is a enterprise level SaaS application for helping eBay dropshippers manage their orders, returns and customer service.</p>
                    <p class="text-center mt-1">The landing page for BP Processing is full of videos showcasing it.</p>
                    <p class="text-center mt-1">Built using Angular front end, Spring boot back end, MongoDB database and deployed on a Digital Ocean Ubuntu droplet.</p>
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-12">
                    <div class="text-center example-button-row">
                      <button mat-raised-button color="primary">View</button>
                      <button mat-raised-button disabled>Source Private</button>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">

                </div>

              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <h3 class="text-center">Pet Social</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                    <div class="course-card-top-overflow text-center">
                      <img src="assets/images/banner/course1.png">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-10">
                    <p class="text-center mt-3">Pet Social is a simple instagram clone for your pets and is hosted on this website</p>
                    <p class="text-center mt-1">You can create an account to make posts, up/down vote other posts, favorite pictures and follow other users</p>
                    <p class="text-center mt-1">Built using the same tools as BP Processing</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="text-center example-button-row">
                      <button mat-raised-button color="primary" class="mb-2">View and use</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="text-center example-button-row mt-2">
                      <button mat-raised-button color="primary">View Frontend</button>
                      <button mat-raised-button color="primary">View Backend</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>


      </div>



    </div>




  </div>
</section>
